<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .enlarged-button {
      width: 330px;
      height: 60px;
      font-size: 18px;
      margin: 10px;
    }
  </style>
</head>
<body>
  <div>
    <style>
      div {
        text-align: center;
      }
    </style>
    <h1>Edwards Car Wash Management System</h1>
  </div>
  <div class="button-container">
    <button class="enlarged-button" type="button" onclick="redirectToQueueManagement()">Wash Process Queue Management</button>
    <button class="enlarged-button" type="button" onclick="redirectToFlowManagement()">Wash Process Flow Management</button>
    <button class="enlarged-button" type="button" onclick="redirectToCostManagement()">Cost Management</button>
    <!--button class="enlarged-button" type="button" onclick="redirectToAuditHistory()">Audit History</button-->
  </div>
  <script>
    function redirectToQueueManagement() {
      window.location.href = "queueManagement";
    }
    function redirectToFlowManagement() {
      window.location.href = "flowManagement";
    }
    function redirectToCostManagement() {
      window.location.href = "costManagement";
    }
    function redirectToAuditHistory() {
      window.location.href = "auditHistory";
    }
  </script>
</body>
</html>
